:root {
  --primary: #000000;
  --secondary: #ffffff;
  --padding: 4rem;
}

body {
  background-color: var(--primary);
  color: var(--secondary);
}

h1 {
  font-size: 12rem;
  line-height: 1.2;
}

h2 {
  font-size: 8rem;
  line-height: 1.3;
}

p,
span {
  font-size: 3.2rem;
  line-height: 1.2;
}

html.lenis {
  height: auto;
}

.lenis.lenis_smooth {
  scroll-behavior: auto;
}

.lenis.lenis_smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis_stopped {
  overflow: hidden;
}

.lenis.lenis_scrolling iframe {
  pointer-events: none;
}

.app {
  overflow: hidden;
}

/*? ----> Intro */
.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.intro_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6.8rem;
  width: inherit;
  height: inherit;
  padding: var(--padding);
}
.intro_info {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.intro_title {
  text-align: center;
}
.intro_title_info {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.intro_scroll {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.intro_scroll span {
  display: block;
  font-size: 4rem;  
}
.intro_media {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.intro_media_image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*? ----> media */
.media {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
  z-index: 10;

  clip-path: polygon(40% 100%, 60% 100%, 60% 100%, 40% 100%);
  overflow: hidden;
}
figure.media_figure {
  position: relative;
  width: 100%;
  height: inherit;
}
.media_figure::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  background-color: var(--primary);
}
img.media_image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*? ----> content */
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
}
.content_wrapper {
  position: relative;
  width: inherit;
  height: inherit;
  padding: var(--padding);
}
.content_item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: inherit;
  height: inherit;
  text-align: center;
}
.content_item_row {
  overflow: hidden;
}
.content_item_row:nth-child(2) {
  padding: 4rem 0;
  text-transform: uppercase;
}
.content_item_row_text {
  transform-origin: top left;
}
.content_media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.content_media_figure {
  position: absolute;
  width: 20rem;
  height: 30rem;
}
.content_media_figure:nth-child(1) {
  top: 10rem;
  left: 25rem;
}
.content_media_figure:nth-child(2) {
  bottom: 12rem;
  right: 24rem;
  width: 30rem;
  height: 16rem;
}
.content_media_image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/*? ----> content */
.next {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 20;
}
.next_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  padding: var(--padding);

  background-color: linear-gradient(100deg, rgba(0, 0, 0, 0) 0%, var(--primary) 75%);
}
.next_item {
  overflow: hidden;
  text-align: center;
}

@media screen and (max-width: 768px) {
  :root {
    --padding: 3.2rem
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 6rem;
  }
  .content_media_figure:nth-child(1) {
    left: 8rem;
  }
  .content_media_figure:nth-child(2) {
    right: 4rem;
  }
}